.trelloListContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list {
  position: relative;
}

.edit-icon {
  display: none;
  color: white;
  position: absolute;
  background: #1b4242;
  cursor: pointer;
  height: 27px;
  top: 4px;
  right: 7px;
  border-radius: 50%;
  width: 29px;
  display: none;
  justify-content: center;
  align-items: center;
}
.list:hover .edit-icon {
  display: flex;
}
.list-input {
  background-color: #5c8374;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  cursor: pointer;
  color: white;
  outline: none;
}
.visible {
  background-color: #5c8374;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  cursor: pointer;
  color: white;
  outline: auto;
}
::placeholder {
  color: white;
}
